/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #0ae;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.line-header-2 {
    margin: 15px 0px 15px;
    color: #21272b;
    font-size: 35px;
}
.line-header-2:after {
    content: '';
    display: block;
    margin: 8px auto 0;
    width: 20%;
    height: 3px;
    background: #ffffff;
}

.title-h{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #00a7f6;
    color: white;
    border-radius: 50px 0px 50px 0px
}

@font-face {
    font-family: 'JF-Flat';
    src: url('../fonts/JF-Flat-regular.eot');

    src: url('../fonts/JF-Flat-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/JF-Flat-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/JF-Flat-regular.svg#JF-Flat-regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.otf');

    src: url('../fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
    padding: 0;
    /* background-size: 100% auto; */
    color: #232f41;
    font-family: 'ITCHGA';
    font-weight: 300;

    /* min-width: 320px;
    overflow-x: auto;
    background: #fff;
    color: #171717;
    line-height: 1.6em; */
}

h1 {
    font-size: 27px;
    line-height: 1.7em;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    line-height: 1.7em;
}

a {
    color: #21272b;
}

a:hover , a:focus {
    color: #52616d;
}

a , a:hover , a:focus {
    text-decoration: none;
    cursor: pointer;
}

label {
    margin-top: 5px;
    font-weight: 100;
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #888;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #888;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #888;
}

input:not([type='submit']), select, textarea {
    padding: 5px 10px;
    display: block;
    width: 100%;
	min-height: 38px;
    background: #fff;
    color: #212121;
    font-weight: 100;
    margin-bottom: 15px;
    border-radius: 0;
    border: 1px solid #e5e1d1;
}

input:focus, select:focus, textarea:focus {
    border-color: #52616d;
}

.cart-count-2 {
    background: #EF2C2C;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 9px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 21px;
    text-align: center;
    left: 10px;
}
.hero {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 110px;
    min-height: 500px;
}
.hero h1 {
    font-size: 50px;
    line-height: 1.3;
}
.hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 45px !important;
}

.navbar-brand {
    float: left;
    height: 48px;
    padding: 15px 15px;
    font-size: 25px !important;
    line-height: 40px !important;
}

.btn-larg{
    height:100px;
    width:100%;
    /* cursor:pointer; */
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.gray-bold{
    background-color: #2c343b !important;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

option {
    padding: 0 10px;
    border: 0;
}

textarea {
    height: 120px;
    resize: none;
}

input[type="checkbox"] , input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 0;
}

a, input, select, textarea, button, .nav>li>a:after, .service-box, .box, .box img, .blog-img img, .partners-bg .item img,
footer .fa, .inner-data, .nav-tabs.list-group li, .nav-tabs.list-group li .fa {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    bottom: 0;
}

table {
    width: 100%;
}

p.clearfix {
    margin-bottom: 0;
}

.no-padding {
    padding: 0!important;
}

.no-margin-top {
    margin-top: 0;
}

.margin-top {
    margin-top: 33px;
}

.text-align-right, .text-align-left {
    text-align: center;
}

/*--------------------------------------
*********** BTNS ***********
--------------------------------------*/

.btn {
    border: 0 none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    text-align: center;
    /* border: 0 none;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    text-align: center; */
}

.btn-block {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.btn-primary {
    background-color: #00a7f6;
    color: #fff;
}

.btn-outline-primary {
    background-image: none;
    border: 1px solid #00a2ef;
    color: #00a2ef
}
.btn-outline-primary:hover {
    background-color: #00a2ef;
    border: 1px solid #00a2ef;
    color: white ;
}

.btn-outline-black {
    background-image: none;
    border: 1px solid #21272b;
    color: #21272b
}
.btn-outline-black:hover {
    background-color: #21272b;
    border: 1px solid #21272b;
    color: white ;
}

.btn-orange {
    background-color: #ffcb05;
    color: #232f41;
}

.btn-navy {
    background: #52616d;
}

.btn-dark-navy {
    background: #21272b;
}

.btn-red {
    background: #EF2C2C;
}

.btn-navy, .btn-navy:hover, .btn-navy:focus, .btn-dark-navy, .btn-dark-navy:hover, .btn-dark-navy:focus, .btn-red, .btn-red:hover, .btn-red:focus {
    color: #fff;
}

.btn-navy:hover, .btn-navy:focus, .btn-dark-navy:hover, .btn-dark-navy:focus, .btn-red:hover, .btn-red:focus {
    transform: scale(1.08, 1.08);
    -webkit-transform: scale(1.08, 1.08);
    -moz-transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    -o-transform: scale(1.08, 1.08);
}

.color-red, .color-red .small {
    color: #EF2C2C;
}
.color-blue-2, .color-blue-2 .small {
    color: #00a7f6 !important;
}
.color-orange, .color-orange .small {
    color: #ffcb05 !important;
}

.color-black {
    color: #21272b;
}

/**  Check box + Radio button Style  **/

.checkbox-holder {
    font-weight: 100;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.checkbox-holder span {
    vertical-align: middle;
}

.checkbox-holder .checkbox-icon {
    width: 13px;
    height: 13px;
    line-height: 7px;
    display: inline-block;
    border: 1px solid #d4d4d4;
    background: #fff;
    text-align: center;
}

.checkbox-holder input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-holder .checkbox-icon:after {
    content: '';
    background: #fff;
    width: 7px;
    height: 7px;
    display: block;
    margin: 2px;
}

.checkbox-holder input[type="checkbox"]:checked + .checkbox-icon {
    border-color: #EF2C2C;
}

.checkbox-holder input[type="checkbox"]:checked + .checkbox-icon:after {
    background: #EF2C2C;
}

/*--------------------------------------
*********** BOX ***********
--------------------------------------*/

.div-padding {
    padding: 15px 0;
}

.gray-bg {
    background: #f4f4f4 !important;
}

.blue-bg {
    background: #00a7f6 !important;
}

.box {
    overflow: auto;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    /* min-height: 350px; */
}

.panel-a-black>.panel-a-heading {
    color: #fff;
    background-color: #5f5f5f;
    border-color: #5f5f5f;
}
.panel-a-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    /* border-top-left-radius: 3px; */
    /* border-top-right-radius: 3px; */
}

.panel-black {
    border-color: #5f5f5f;
}
.panel-a {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}

.panel-a-body {
    padding: 15px;
}

.card-a {
    width:100%;
    min-height:375px;
    background:#fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
    margin-bottom: 30px;
}
.card-a:hover {
    box-shadow: 0 5px 30px rgba(0,0,0,.1);
}
.card-a .box-a {
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card-a .box-a .img-a {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border: 2px solid #eee;

}
.card-a .box-a .img-a img {
    width:100%;
    height:100%;
}
.card-a .box-a h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card-a .box-a h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card-a .box-a p {
    color:#262626;
}
.card-a .box-a span {
    display:inline-flex;
}
.card-a .box-a ul {
    margin:0;
    padding:0;
}
.card-a .box-a ul li {
    list-style:none;
    float:left;
}
.card-a .box-a ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card-a .box-a ul li:hover a {
    color:#00a7f6;
    transform:rotateY(360deg);
}

.control-label .required,label .required{
    color:red;
    font-size: 16px;
}
.box h3 {
    margin: 0 0 15px;
}

.box.gray-bg h3 {
    margin: 0 0 5px;
}

.box.gray-bg p {
    margin: 8px 0 0;
}

.line-header {
    margin: 15px 0px 15px;
    color: #21272b;
    font-size: 35px;
}

.line-header:after {
    content: '';
    display: block;
    margin: 8px auto 0;
    width: 4%;
    height: 2px;
    background: #21272b;
}

.line-header-red {
    margin: 0 0 30px;
    color: #21272b;
    font-size: 22px;
}

.line-header-red:after {
    content: '';
    display: block;
    margin: 8px auto 0;
    width: 4%;
    height: 2px;
    background: #EF2C2C;
}

/*--------------------------------------
*********** LOADER ***********
--------------------------------------*/

.pre-load {
    position:fixed;
    top:0;
    right:0;
    left: 0;
    bottom:0;
    background: #21272b;
    color: #fff;
    z-index: 9999;
    text-align: center;
}

.pre-load .fa {
    position:absolute;
    top: 50%;
    right: 50%;
    margin: -21px -21px 0 0;
}

/*--------------------------------------
*********** HEADER ***********
--------------------------------------*/

header {
    background: #2c343b;
    /* max-height: 390px !important; */
}

.home-main-header .min-header {
    margin-bottom: 50px;
}

.min-header {
    border-bottom: 1px solid #21272b;
    padding: 10px 0;
}

.min-header .row > div:first-child {
    margin-bottom: 10px;
}

.min-header .dropdown {
    display: inline-block;
    color: #fff;
    border: 0;
    margin: 0;
    padding: 0 8px;
    min-height: 10px;
}

.dropdown-menu {
    top: 140%;
    border-radius: 0;
    border: 0;
    min-width: 100px;
    max-width: 250px;
    padding: 0;
}

.min-header a {
    color: #fff;
    padding: 0 15px;
    display: inline-block;
    position: relative;
}

.min-header .fa {
    font-size: 18px;
}

.min-header a .cart-count {
    background: #EF2C2C;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: -6px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 21px;
    text-align: center;
}

.cart-item {
    padding: 10px;
    min-width: 250px;
    display: table !important;
    border-bottom: 1px solid #e5e5e5;
}

.cart-item img, .cart-item .cart-details {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.cart-item img {
    width: 70px;
}

.cart-item .cart-details a {
    color: #171717;
    padding: 0;
}

.cart-item .cart-details p {
    margin-bottom: 5px;
}

.cart-item .cart-details button {
    background: transparent;
    font-size: 14px;
    color: #888;
    padding-top: 5px;
}

.opendropdown .dropdown-menu {
    display: block;
}

input.search-bar {
    margin: 0;
    width: 220px;
}

/*--------------------------------------
*********** SLIDER ***********
--------------------------------------*/

.carousel a, .carousel .small {
    color: #fff;
}

.carousel {
    margin: 0 0 30px;
}

.carousel img {
    max-height: 500px;
    margin: 30px auto 50px;
}

.carousel .item {
    overflow: hidden;
}

.carousel .bike-slider-info {
    margin-top: 40px;
    position: relative;
    opacity: 0;

    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.item.active .bike-slider-info {
    opacity: 1;
}

.bike-slider-info h1 {
    margin: 20px 0;
}

.bike-slider-info .price {
    margin: 40px 0;
}

.bike-slider-info .btn, .box .btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 2px 4px;
}

.bike-rate {
    color: #e5e1d1;
}

.box .bike-rate {
    color: #21272b;
}

.bike-rate .active {
    color: #EF2C2C;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    /* background: #fff; */
}

.carousel-indicators li.active {
    border: 1px solid #00a7f6;
    background: #00a7f6;
}

/*--------------------------------------
*********** NAV ***********
--------------------------------------*/

nav.navbar {
    /* position: relative; */
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border: 0;
    margin: 0;
    border-radius: 0;
    background: white;
}

.navbar-header {
    color: #fff;
    line-height: 52px;
}

.nav > li > a, .nav>li>a.active ,.nav>li>a:hover, .nav>li>a:focus, .navbar-brand, .navbar-brand:hover {
    background-color: transparent;
    color: #232f41;
}

.nav>li>a {
    /* position: relative;
    padding: 15px 0 17px;
    margin: 0 15px; */
    font-size: 16px;
    font-weight: 300;
    color: #232f41;
    display: block;
    padding: 10px;
    margin-left: 10px;
    position: relative;
}

.nav>li>a.active ,.nav>li>a:hover, .nav>li>a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #00a7f6;
}

.navbar-toggle {
    padding: 0;
    color: black;
    font-size: 25px;
    /* color: #fff; */
}

.navbar-brand {
    padding: 10px;
    font-weight: 600;
}

.nav .dropdown-menu {
    top: 100%;
}

/*--------------------------------------
*********** SERVICES ***********
--------------------------------------*/

.service-box {
    background: #00a7f6;
    color: #ffffff;
    width: 60px;
    height: 60px;
    line-height: 70px;
    margin: 30px auto;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.service-box .fa {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.service-box:hover {
    background: #ffcb05;
    color: #fff;

    transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
}

p.small {
    font-size: 13px;
    color: #909090;
}

/*--------------------------------------
*********** PRODUCTS ***********
--------------------------------------*/

.owl-slider .item {
    padding: 0 15px;
}

.owl-slider .item .img-holder, .box-with-border .img-holder {
    height: 160px;
    margin: 20px 0;
}

.img-holder img {
    margin: 0 auto;
}

.owl-slider .item .img-holder img, .box-with-border .img-holder img {
    max-height: 160px;
}

.owl-slider .item .box, .box-with-border {
    border: 1px solid #52616d;
    position: relative;
    overflow: hidden;
}

.owl-slider .item .box h1, .box-with-border h1 {
    margin: 20px 0;
}

.owl-slider .item .box:hover, .box-with-border:hover {
    border: 1px solid #00a7f6;
}
.box-h:hover {
    border: 1px solid #00a7f6;
    background-color:  #00a7f6;
    color: white ;
}

.owl-slider .item .box:hover img, .blog-img:hover img, .box-with-border:hover img {
    opacity: 0.7;

    /* transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15); */
}

.new-bike {
    position: absolute;
    background: #EF2C2C;
    color: #fff;
    display: inline-block;
    padding: 2px 7px;
    top: 5px;
}

.btn-owl {
    background: #00a7f6;
    padding: 2px 7px;
    font-size: 13px;
    color: #fff;
    margin: 13px 2px 0;
}

.btn-owl:first-child {
    float: right;
}

.btn-owl:last-child {
    float: left;
}

.btn-owl:hover {
    background: #e5e1d1;
}

.border-bottom {
    overflow: hidden;
    border-bottom: 1px solid #e5e1d1;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.box .border-bottom {
    margin-bottom: 15px;
}

.border-bottom h1, .border-bottom h3 {
    margin: 0;
}

/*--------------------------------------
*********** SINGLE PRODUCT ***********
--------------------------------------*/

.navy-bg {
    background: #21272b;
    color: #fff;
    position: relative;
    margin-top: 40px;
}

.navy-bg + .gray-bg {
    padding-top: 90px;
}

.navy-bg .container {
    position: relative;
    z-index: 2;
}

.navy-bg:before, .navy-bg:after {
    content: '';
    position: absolute;
    right: 0;
    background: #21272b;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.navy-bg:before {
    top: -40px;
}

.navy-bg:after {
    bottom: -40px;
}

.moving-bike {
    position: absolute;
    top: -18%;
    color: #21272b;
}

.navy-bg .img-holder {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
}

.navy-bg a, .navy-bg .small {
    color: #fff;
}

.navy-bg h1, .navy-bg p {
    margin: 0 0 20px;
}

.navy-bg .price {
    margin: 20px 0;
}

.share-box {
    max-width: 50px;
}

.share-box a {
    padding: 5px 0;
    margin: 0!important;
}

.fb {
    background: #3b5998;
}

.tw {
    background: #00aced;
}

.gp {
    background: #dd4b39;
}

/*--------------------------------------
*********** BLOG ***********
--------------------------------------*/

.shadow-box {
    background: #fff;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    min-height: 310px;
}

.item .shadow-box {
    margin-bottom: 0;
}

.inner-box {
    padding: 0 10px;
}

.inner-box h3 {
    margin: 15px 0;
}

.blog-img {
    border-radius: 5px 5px 0px 0px;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.blog-img.big-box {
    height: 300px;
}


.blog-img img {
    width: 100%;
    min-height: 240px;
    border-radius: 5px;
}

.blog-img.big-box img {
    min-height: 300px;
}

.blog-img .date {
    position: absolute;
    bottom: 0;
    background: #5d5d5d;
    color: #fff;
    text-align: center;
    /* width: 222px; */
    height: 40px;
    /* border-radius: 50%; */
    font-size: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.6);
    /* position: absolute;
    bottom: 20px;
    background: #EF2C2C;
    color: #fff;
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.6); */
}

.blog-img span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

/*--------------------------------------
*********** BUY NOW ***********
--------------------------------------*/

.buy-now {
    /* background: url("../images/buy-box.jpg") no-repeat center; */
    background-size: cover;
    position: relative;
    color: #fff;
}

.buy-now h1 {
    margin: 0;
}

.buy-now .margin-top {
    margin-top: 2px;
}

.buy-now:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00a2ef;
}

/*--------------------------------------
*********** PARTNERS ***********
--------------------------------------*/

.partners-bg {
    background: #22282d;
    color: #fff;
}

.partners-bg .margin-top {
    margin-top: 6px;
}

.partners-bg .item img {
    height: 65px;
    margin: 0 auto;

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.partners-bg .item img:hover {
    -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);
}

.margin-top .btn-owl {
    margin-top: 15px;
}

/*--------------------------------------
*********** FOOTER ***********
--------------------------------------*/

footer {
    background: #fff;
    font-size: 15px;
}

footer, footer a, footer li a:hover {
    color: #585858;
}

footer h1 {
    color: #232f41;
    border-bottom: 1px dashed #52616d;
    padding-bottom: 8px;
    margin: 0 0 20px;
    font-size: 24px;
}

footer .fa {
    color: #52616d;
}

footer li {
    padding: 3px 0;
}

footer li a:hover .fa {
    color: #EF2C2C;
}

footer .social {
    margin-bottom: 15px;
}

footer .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #5f5f5f;
    font-size: 17px;
}

footer .social a .fa {
    color: #5f5f5f;
}

footer .social a:hover {
    background: #00a4f1;
    border-color: #00a2ef;
}

footer .social a:hover .fa {
    color: #fff;
}

.min-footer {
    border-top: 1px solid #d2d1d1;
    /* background: #e0e0e0; */
    padding: 15px 0;
}

.min-footer p {
    margin: 0;
    color: #70767c;
}

/*--------------------------------------
*********** PRODUCTS PAGE ***********
--------------------------------------*/

.pagination > li > a, .pagination > li > span {
    color: #21272b;
}

.pagination > li > a .fa, .pagination > li > span .fa {
    font-size: 12px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #52616d;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #22282d;
    border-color: #22282d;
}

/*--------------------------------------
*********** LOGIN ***********
--------------------------------------*/

.breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
}

.full-width {
    width: 100%;
}

/*--------------------------------------
*********** SERVICES ***********
--------------------------------------*/

.services {
    background: url("../images/6.jpg") no-repeat top center;
    background-size: cover;
    color: #fff;
}

.services h1 {
    margin: 10px 0;
}

/*--------------------------------------
*********** GALLERY ***********
--------------------------------------*/

.gallery .img-holder {
    height: 250px;
    overflow: hidden;
}

.gallery .img-holder img {
    min-height: 250px;
    width: 100%;
}

.gallery .img-holder .inner-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    line-height: 250px;
    opacity: 0;
    text-align: center;

    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -o-transform: scale(0,0);
}

.gallery .img-holder:hover .inner-data {
    opacity: 1;

    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
}

.btn-round {
    background: #fff;
    color: #212121;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0!important;
    line-height: 27px;
}

/*--------------------------------------
*********** SINGLE PRODUCT ***********
--------------------------------------*/

.color-box ,.share-links {
    margin: 15px 0;
}

.color-box label {
    position: relative;
    cursor: pointer;
}

.color-box span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d4d4d4;
    box-shadow: inset 0 0 0 1px #fff;
}

.color-box input {
    opacity: 0;
    position: absolute;
}

.color-box input:checked + span {
    border-color: #EF2C2C;
}

.share-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #666;
    color: #fff;
    font-size: 18px;
}

.share-links a:hover {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}

.share-links a.fb {
    background: #3b5998;
}

.share-links a.tw {
    background: #55acee;
}

.share-links a.gp {
    background: #dd4b39;
}

.share-links a.li {
    background: #007bb5;
}

.share-links a.pin {
    background: #cb2027;
}

.share-links a.beh {
    background: #1769ff;
}

.nav-tabs {
    margin-bottom: 30px;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
    margin-bottom: 0;
}

.nav-tabs>li>a:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 2px;
    background: #00a7f6;
}

.bc-style {
    /* border-right: 1px solid #00a7f6; */
    padding: 0px 10px 3px 10px;
    border-radius: 0px;
    margin: 0px;
    margin-right: 5px;
    color: #585858;
}
.bc-m{
    margin: 2px;
    border-right: 1px solid #00a7f6;
}
.bc-style:hover{
    background-color: #585858 ;
    color: white ;
}
.bc-style-active{
    background-color: #585858 ;
    color: white ;
}
.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
    color: #171717;
    background: transparent;
}

.nav-tabs > li > a:hover:after, .nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
    width: 100%;
}

/**  Rating buttons  **/

.rating-holder {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}

.rating-holder input {
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.rating-holder label {
    padding: 0 2px;
    color: #21272b;
    position: relative;
    z-index: 3;
}

.rating-holder input:checked ~ label, .rating-holder input:hover ~ label {
    color: #EF2C2C;
}

.slider-zoom img {
    width: 100%;
}

.slider-zoom .owl-buttons {
    display: none !important;
}

.slider-zoom .owl-controls {
    text-align: center;
}

.slider-zoom .owl-controls .owl-page {
    display: inline-block;
    padding: 5px 2px;
}

.slider-zoom .owl-controls .owl-page span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #21272b;
    display: inline-block;
}

.slider-zoom .owl-controls .owl-page.active span {
    background: #EF2C2C;
}

.zoom {
    display:inline-block;
    position: relative;
    width: 100%;
}

.zoom img {
    display: block;
}

.zoom:hover img {
    opacity: 0;
}

.zoom img::selection {
    background-color: transparent;
}

/*--------------------------------------
*********** BLOG POST PAGE ***********
--------------------------------------*/

.post-details p {
    display: inline-block;
    vertical-align: middle;
}

.post-details p:not(:first-child) {
    border-right: 1px solid #eaeaea;
}

.post-details + img {
    margin-bottom: 20px;
}

.blog-post-block {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

/*--------------------------------------
*********** CART PAGE ***********
--------------------------------------*/
.table > tbody > tr > td {
    vertical-align: middle;
}

table img {
    width: 100px;
}

table thead th {
    text-align: center;
}

table tr {
    padding: 5px 0;
}

table input {
    max-width: 70px;
    margin: 0 auto;
}

button {
    background: transparent;
}

.small-table {
    width: 80%;
    margin: 0 auto;
}

.small-table td {
    padding: 2px;
}

/*--------------------------------------
*********** PROFILE PAGE ***********
--------------------------------------*/

.nav-tabs.list-group li {
    border-radius: 0;
    padding: 0;
    margin: 5px 2px;
}

.nav-tabs.list-group li.active {
    background: #21272b;
    border-color: #21272b;
}

.nav-tabs.list-group li.active a {
    color: #fff;
}

.nav-tabs.list-group li a {
    padding: 10px 0;
    margin: 0 6px;
}

.nav-tabs.list-group li a:after {
    display: none;
}

/*--------------------------------------
*********** START MEDIA ***********
--------------------------------------*/

@media (max-width: 768px) {

    .navbar-nav .open .dropdown-menu {
        margin: 0 auto;
        text-align: center;
    }

    .navbar-nav .open .dropdown-menu li a {
        /* color: #fff; */
        color: #232f41;
    }

    .navbar-nav .open .dropdown-menu li a:hover, .navbar-nav .open .dropdown-menu li a:focus {
        /* background: #EF2C2C; */
        background: #00a7f6;
    }

}

@media (min-width: 768px) {

    .navbar-collapse {
        padding: 0;
    }

    .nav>li>a:after {
        bottom: 10px;
        transform: translateY(10px);
        /* content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 0;
        height: 3px;
        background: #00a7f6;
        text-align: center ; */
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #00a7f6;
        content: "";
        opacity: 0;
        transition: all .3s;
    }

    .nav>li>a.active:after ,.nav>li>a:hover:after, .nav>li>a:focus:after, .nav-tabs > li.active > a:after,
    .nav .open > a:after, .nav .open > a:hover:after, .nav .open > a:focus:after, .nav > li.opendropdown > a:after {
        /* width: 78%; */
        opacity: 1;
    transform: translateY(0px);
    }

    .nav>li>a.active ,.nav>li>a:hover, .nav>li>a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background: transparent;
    }

    .min-header .row > div:first-child {
        margin-bottom: 0;
    }

    .carousel-indicators {
        bottom: -20px;
    }

    .nav-tabs.list-group > li {
        display: block;
        border-bottom: 0;
        margin: 0;
        position: relative;
    }

    .nav-tabs.list-group li a {
        margin: 0 10px;
    }

    .nav-tabs.list-group li .fa {
        position: absolute;
        top: 20%;
        font-size: 28px;
        color: #21272B;
        opacity: 0;
    }

    .nav-tabs.list-group li.active .fa {
        opacity: 1;
    }

}

@media (min-width: 992px) {

    .service-box {
        margin: 20px auto 30px;
    }

    .home-main-header .min-header {
        margin-bottom: 80px;
    }

}

@media (min-width: 1200px) {

    footer .social {
        margin-bottom: 0;
    }

    .half-width {
        width: 70%;
        margin: 30px auto;
    }

}
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }

  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px
  }
  h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  }
  .card {
    direction: rtl !important;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    transition: all .25s ease;
  }
  .card-content {
    padding:15px;
    text-align:right;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.2em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }
  a.list-group-item:hover, a.list-group-item:focus {
    color: white;
    text-decoration: none;
    background-color: #2c343b;
  }
  .c-red {
    color: white !important;
    background-color: #ef2c2c;
  }

  dl dt{
    text-align:left !important;
  }

  .panel{
    border:none; box-shadow:0 0 10px rgba(0,0,0,0.20); border-radius:4px 4px 0 0;
  }
  .panel .panel-heading{
    background:#FFF;
    padding:25px 20px;
    color:#151515;
    border-color:#DDD; border-radius:4px 4px 0 0;
  }
  .panel .panel-body{
    padding:15px 20px;
  }
  .panel .panel-body dl{
    padding:12px 0;
    margin:0;
  }
  .panel .panel-body dl dd{

  }
  .panel .panel-body dl dt{

  }



  .fb-profile img.fb-image-lg{
      z-index: 0;
      width: 100%;
      margin-bottom: 10px;
  }

  .fb-image-profile
  {
    margin: -150px 0px 0px 0px;
    z-index: 9;
      /* width: %;  */
    width: 215px;
    height: 215px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .fb-image-profile img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @media (max-width:768px)
  {

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 0px 0px 0px;
        width: 120px;
        height: 120px;
    }
  }
