<template>
    <div class="container">
        <!-- Table -->
        <div class="card text-left">
          <div class="card-body">
              <h3 class="card-title float-right">المشاركون</h3>
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addNew" @click="clearForm()">
                <i class="fas fa-user-plus"></i>
             </button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">اسم الطالب</th>
                        <th scope="col">اسم اللوحه</th>
                        <th scope="col" style="  text-align: center;"> العمليات </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(photo, index) in Photos" v-bind:key="photo.id" >
                        <th scope="row">{{ index+1 }}</th>
                        <td> {{ photo.artistName }} </td>
                        <td> {{ photo.piece }} </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm"  @click="deleteUser(photo.id)"> <i class="fas fa-eraser"></i> </button>

                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addNew" @click="EditUser(photo)"> <i class="fas fa-user-edit"></i> </button>
                            <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modelId" @click="getArtest(photo.id)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                        </tr>
                    </tbody>
                </table>
          </div>
        </div>
        <!-- End Table -->
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 v-show="!Edit" class="modal-title" id="addNew>">اضافه متسابق جديد</h5>
                <h5 v-show="Edit" class="modal-title" id="addNew>">تعديل </h5>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" @click="clearForm()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="addNewArtest()" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="float-right" for="artistName"> اسم المتسابق</label>
                        <input v-model="newArtest.artistName" type="text" class="form-control " id="artistName" aria-describedby="artistName" placeholder="">
                        <small id="artistNameErr" v-if="errList.artistName && fail" class=" float-right form-text  text-danger">الاسم مطلوب</small>
                    </div>

                    <div class="form-group">
                        <label class="float-right" for="piece">اسم العمل</label>
                        <input  v-model="newArtest.piece" type="text" class="form-control" id="piece" aria-describedby="artistName" placeholder="">
                        <small id="piceErr" v-if="errList.piece && fail" class=" float-right form-text  text-danger ">اسم القطعه مطلوب</small>
                    </div>

                    <div class="form-group">
                        <label class="float-right" for="Details">الوصف</label>
                        <textarea v-model="newArtest.Details" type="text" class="form-control" id="Details" aria-describedby="artistName" placeholder=""></textarea>
                        <small id="DitailsErr" v-if="errList.Details && fail" class=" float-right form-text  text-danger">التفاصيل مطلوبه</small>
                    </div>

                    <div v-if="!newArtest.path">
                        <label class="float-right" for="path">الصوره</label>
                        <!-- <div v-if="!newArtest.path"> -->
                            <input   type="file" v-on:change="onImageChange" class="form-control" id="path" aria-describedby="path"  >
                        <!-- </div> -->
                        <small id="pathErr" v-if="errList.path && fail" class=" float-right form-text  text-danger">الصوره مطلوبه</small>
                    </div>

                    <div v-else>
                        <label class="float-right" for="path">الصوره</label>
                        <img class="img-fluid" :src="newArtest.path" />

                        <button @click="removeImage" class="btn btn-danger">حذف الصوره</button>
                    </div>

                    <button  v-show="!Edit" type="submit" class="btn btn-primary">اضافه</button>
                    <button  v-show="Edit" type="submit" class="btn btn-primary">تعديل</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  @click="clearForm()" data-dismiss="modal">الغاء</button>
            </div>
            </div>
        </div>
        <!-- End Model -->

        </div>
        <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">غرض تفاصيل اللوحه</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="float-right" for="artistName"> اسم المتسابق</label>
                        <div class="text float-right">:{{ artestToView.artistName }}</div><br>
                    </div>
                    <div class="form-group">
                        <label class="float-right" for="piece">اسم العمل</label>
                       <div class="text float-right">:{{ artestToView.piece }}</div><br>
                    </div>

                    <div class="form-group">
                        <label class="float-right" id="detaelsView" for="Details">الوصف</label>
                        <div class="text float-right">:{{ artestToView.Details }}</div><br>
                    </div>

                    <label class="float-right" for="path">الصوره</label>
                    <img class="img-fluid" :src="artestToView.path" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                  Photos : [],
                  newArtest : {
                    photo_id : 0,
                    artistName:"",
                    piece : "",
                    Details:"",
                    path : ""
                  },
                  artestToView:{
                    artistName:"",
                    piece : "",
                    Details:"",
                    path : ""
                  },
                  Edit : false,
                  errList:[],
                  fail : false
            }
        },
        created(){
            this.getPhotos();
        },
        methods :{
            getPhotos(page_url){
            page_url = page_url || 'api/photos';
              axios.get(page_url)
              .then(response => {
                        this.Photos = response.data.data;
               }).catch((err)=>console.log(err));
            },
            deleteUser(id){
                if(confirm("هل انت متاكد من عمليه الحذف")){
                    axios.delete(`api/photo/${id}`)
                        .then(response => {
                            this.getPhotos();
                             swal({
                                title: "",
                                text: "لقد تمت عمليه الحذف بنجاح",
                                icon: "success",
                                button: "اغلاق",
                            });
                        }).catch((err)=>{
                            console.log(err)
                            swal({
                                title: "",
                                text: "لقد حدث خطا في عمليه الحذف",
                                icon: "error",
                                button: "اغلاق",
                            });
                        });
                }
            },
            addNewArtest(){
                if(!this.Edit){
                    console.log(this.newArtest.Details);
                    var text = this.newArtest.Details;
                    var finalText = "";
                    for(var i = 0 ; i < text.length;++i){
                        if(text.charAt(i) === '\\'){
                            finalText+='\\';
                        }
                        finalText+=text.charAt(i);
                    }
                    this.newArtest.Details = finalText;
                    console.log(this.newArtest.Details);
                    let vm = this;
                    axios.post('api/photo', this.newArtest)
                    .then(function (response) {
                        vm.clearForm();
                        vm.getPhotos();
                        vm.fail = false;
                        swal({
                            title: "",
                            text: "لقد تمت عمليه الضافه بنجاح",
                            icon: "success",
                            button: "اغلاق",
                        });
                    })
                    .catch(function (error) {

                    console.log(this.newArtest.Details);
                    var text = this.newArtest.Details;
                    var finalText = "";
                    for(var i = 0 ; i < text.length;++i){
                        if(text.charAt(i) === '\\'){
                            finalText+='\\';
                        }
                        finalText+=text.charAt(i);
                    }
                    this.newArtest.Details = finalText;
                    console.log(this.newArtest.Details);
                        if(error.response.status === 422){
                            vm.errList = error.response.data.errors;
                            vm.fail = true;
                        }else{
                            swal({
                                title: "",
                                text: "لقد حدث خطا في عمليه الاضافه",
                                icon: "error",
                                button: "اغلاق",
                            });
                        }

                    });
                }else{
                    let vm = this;
                    axios.put('api/photoUpDeted',this.newArtest)
                         .then(function(response){
                             vm.getPhotos();
                              swal({
                                title: "",
                                text: "لقد تمت عمليه التعديل بنجاح",
                                icon: "success",
                                button: "اغلاق",
                            });
                         }).catch(function(error){
                             console.log(error);
                             if(error.response.status === 422){
                                    vm.errList = error.response.data.errors;
                                    vm.fail = true;
                             }else{
                                  swal({
                                    title: "",
                                    text: "لقد حدث خطا في عمليه التعديل",
                                    icon: "error",
                                    button: "اغلاق",
                                });
                             }
                         });
                }
            },
            clearForm(){
                this.newArtest.photo_id = 0;
                this.newArtest.artistName = "";
                this.newArtest.piece = "";
                this.newArtest.Details = "";
                this.Edit = false;
                this.newArtest.path = "" ;
            },
            EditUser(user){
                this.Edit = true;
                this.newArtest.photo_id = user.id;
                this.newArtest.artistName = user.artistName;
                this.newArtest.piece = user.piece;
                this.newArtest.Details = user.Details;
                this.newArtest.path = user.PieceImgePath;
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.newArtest.path = e.target.result;
                };
                reader.readAsDataURL(file);
            },
             removeImage: function (e) {
                this.newArtest.path = '';
            },
            getArtest(id){
                axios.get(`api/photo/${id}`)
              .then(response => {
                this.artestToView.artistName = response.data.data.artistName;
                this.artestToView.piece = response.data.data.piece;
                document.getElementById('detaelsView').innerHTML  =  this.detectURLs(response.data.data.Details);
                this.artestToView.path = response.data.data.PieceImgePath;
               }).catch((err)=>console.log(err));

            },detectURLs(text){
                var urlRegex = /(https?:\/\/[^\s]+)/g;
                var contant = text.replace(urlRegex, function(url) {
                    return '<a href="' + url + '">' + url + '</a>';
                });
                return contant;
            }
        }
    }
</script>
