<template>
    <div>
         <div class="container my-2" >
                <div class="row justify-content-center " >
                    <div class="col-md-4 mb-2 "  v-for="photo in Photos" v-bind:key="photo.id">
                        <div class="card shadow" style="width: 18rem;">
                            <img :src=photo.PieceImgePath class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-text">{{ photo.artistName }}</h5>
                                    <h5 class="card-text">{{ photo.piece }} </h5>
                                    <!-- <p class="card-text">{{ photo.Details}}</p> -->
                                </div>

                                <div class="card-body text-center">
                                    <div class="row text-center">
                                        <div class="col-md-6">
                                            <form   class="mb-2" @submit.prevent="VoteUp(photo.id)" >
                                                <button href="#"  type="submit" class="btn btn-primary btn-lg" >
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#modelId" @click="getArtest(photo.id)">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>

                                    </div>

                                    <!-- <a href="#" class="btn btn-primary">ابدي رائيك في العمل</a> -->
                                </div>
                        </div>
                    </div>

                </div>
            </div>
             <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">غرض تفاصيل اللوحه</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="float-right" for="artistName"> اسم المتسابق</label>
                        <div class="text float-right">:{{ artestToView.artistName }}</div><br>
                    </div>
                    <div class="form-group">
                        <label class="float-right" for="piece">اسم العمل</label>
                       <div class="text float-right">:{{ artestToView.piece }}</div><br>
                    </div>

                    <div class="form-group">
                        <label class="float-right" id="detaelsView" for="Details">الوصف</label>
                        <div class="text float-right">:{{ artestToView.Details }}</div><br>
                    </div>

                    <label class="float-right" for="path">الصوره</label>
                    <img class="img-fluid" :src="artestToView.path" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            Photos : [],
            artestToView:{
                artistName:"",
                piece : "",
                Details:"",
                path : ""
            }
        }
    },
    created(){
        this.getPhotos();
    },
    methods :{
        getPhotos(page_url){
            page_url = page_url || 'api/photos';
              axios.get(page_url)
              .then(response => {
                        this.Photos = response.data.data;

               }).catch((err)=>console.log(err));
        },
        VoteUp(id){
            var vm = this;
            axios.get("http://localhost/Vote/public/redirect").then(response => {
                console.log(response.client_id);
            }).catch((err) => console.log(err));
            /*
            axios({
                method: 'post',
                url: `api/photo/vote/${id}`
            })
            .then(function(response) {
              /* vm.hasIp = true;

                swal({
                    title: "شكرا لك",
                    text: "لقد تمت عمليه التصويت بنجاح",
                    icon: "success",
                    button: "اغلاق",
                });*//*
            }).catch((err)=>{
                console.log(err)
                /*swal({
                    title: "شكرا لك",
                    text: "لقد حدث خطا ما الرجاء التجربه مرى اخرى",
                    icon: "error",
                    button: "اغلاق",
                });
            });*/

        },
        getArtest(id){
                axios.get(`api/photo/${id}`)
              .then(response => {
                this.artestToView.artistName = response.data.data.artistName;
                this.artestToView.piece = response.data.data.piece;
                document.getElementById('detaelsView').innerHTML  =  this.detectURLs(response.data.data.Details);
                this.artestToView.path = response.data.data.PieceImgePath;
               }).catch((err)=>console.log(err));

            },detectURLs(text){
                var urlRegex = /(https?:\/\/[^\s]+)/g;
                var contant = text.replace(urlRegex, function(url) {
                    return '<a href="' + url + '">' + url + '</a>';
                });
                return contant;
            }
    }
}
</script>

