<template>
  <div  class="div-padding">
  <div class="container">

    <table class="table table-bordered" style="font-size: 20px">
      <thead class="thead-dark">
        <tr class="bg-danger">
          <th scope="col">#</th>
          <th scope="col">اسم الطالب</th>
          <th scope="col">اسم اللوحه</th>
          <th scope="col">عدد الاصوات</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(photo, index) in Photos"
          v-bind:key="photo.id"
          v-bind:class="[{
              'table-success-best' : index == 0,
              'table-primary-best' : index == 1,
              'table-warning-best' : index == 2
          }]"
        >
          <th class="text-center" scope="row">{{ index+1 }}</th>
          <td class="text-center">{{ photo.artistName }}</td>
          <td class="text-center">{{ photo.piece }}</td>
          <td class="text-center">{{ photo.votes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</template>
<style>
    .table-success-best{
        background-color:  #38f764  !important;
    }
    .table-primary-best{
        background-color:  #66acf9  !important;
    }
    .table-warning-best{
        background-color:  #f3c743  !important;
    }
</style>

<script>
export default {
  data() {
    return {
      Photos: [],
      PhotoCounter: 1
    };
  },
  created() {
    console.log("dsadas");
    Echo.channel("score-tracker").listen("OrderStatusChanged", e => {
      this.getPhotos();
    });
    this.getPhotos();
  },
  methods: {
    getPhotos(page_url) {
      page_url = page_url || "api/photosSorted";
      axios
        .get(page_url)
        .then(response => {
          this.Photos = response.data.data;
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

